*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 244, 245);
    overflow-x: hidden;
}
.botonPersonalizado{
    background-color: #DC3545;
    color: white;
}
.colorpersonalizado {
    color: lightpink;
}

header{
    background-color:rgb(255, 244, 245) ;
    position: sticky;
    top: 0;
    z-index: 2;
}

header img{
    max-width:100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container{
    width: 640px;
    height: 360px;
}
/*acá toda la info del footer*/
footer {
    color: rgb(226, 83, 131);
    background-color: lightpink;
    height: 80px;
    bottom: 0;
    width: 100%;
    
}

.infoFooter{
    display: grid;
    justify-items: center;
    
    
}

.iconoFooter{
    display: grid;
    justify-items: right;
    padding: 10px 50px;
}



.contacto {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
tr th {
    color: rgb(255, 157, 234);
}


.colorBoton {
    color:rgb(233, 96, 142)
}


nav {
    background-color: lightpink;
    padding: 10px 10px;
    position: sticky;
    top: 0px;
    z-index: 2px;
    text-align: center;
    grid-area: nav ul;
    margin-right: 0px;
}

/*cards inicio*/
.titulosInicio__primerosDosArtistas{
    
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 100px
}

.titulosInicio__segundaTanda{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 20px;
    
}

.contacto__titulo{
    color: #DC3545;
}

.fraseInicio{
    align-items: center;
    margin-top: 150px;
    color: #DC3545;

}

.letraFraseInicio{
    text-align: center;
    font-size: 80px;
    
}

.letraFraseSegunda{
    text-align: center;
    font-size: 40px ;
    
}

.letraFraseTercera{
    text-align: center;
    font-size: 12px;
    
}

/*este se lo apliqué al titulo de cada sección*/
.titulosSecciones__nombre{
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px; 

}

/*cards artistas*/
.titulosArtistas__primerosTresArtistas{
    
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 20px;
}

.titulosArtistas__segundaTanda{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 20px;
    
}

.descripcionArtistas{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    color: rgb(100, 98, 98);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/*cards discos*/
.titulosDiscos__primerosTresDiscos{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 20px;
}

.titulosDiscos__segundaTanda{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    margin: 20px;
}

.descripcionDiscos{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    color: rgb(100, 98, 98);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/*detalles de playlist*/
.descripcionPlaylist{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    color: rgb(100, 98, 98);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.playlist{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(233, 96, 142);
    margin-top: 50px ;
    margin-bottom: 20px;
}

.descripcionRecitales{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    color: rgb(100, 98, 98);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/*detalles recitales*/
.videosRecitales{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoTom{
    text-align: center;
    color: rgb(233, 96, 142);
    margin-top: 50px ;
    margin-bottom: 20px;
}

.videoSantana{
   text-align: center;
    color: rgb(233, 96, 142);
    margin-top: 50px ;
    margin-bottom: 20px;
}

.videoMen{
    text-align: center;
    color: rgb(233, 96, 142);
    margin-top: 50px ;
    margin-bottom: 20px;
}

.videoChita{
    text-align: center;
    color: rgb(233, 96, 142);
    margin-top: 50px ;
    margin-bottom: 20px;
}


/*datos conociendo rusia*/
.rusia{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(233, 96, 142);
    margin-bottom: 20px;
}



/*boton de las crads*/
.botonPersonalizado{
    background-image: linear-gradient(to bottom,#DC3545, lightpink );
}

/*detalles de todas del sitio*/
.containerNotas{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

h1.containerNotas__titulo{
    font-style: italic;
    margin-bottom: 20px;
} 



@import './imports/variables';

@mixin color ($colorTituloSeccion) {
    color: $colorTituloSeccion
    
}

.titulosSecciones__nombre{
    @include color (rgb(226, 83, 131));
}


@each $colorTituloCubo in white,white{
    .color-#{$colorTituloCubo}{
        color:#{$colorTituloCubo};
    }
}

@each $colorFondoTituloCubo in title,title,title,title,title{
    .fondo-#{$colorFondoTituloCubo}{
        background-color: #DC3545;
    }
}

@each $colorLetraCubo in black,black,black,black,black{
    .color-#{colorLetraCubo}{
        color:#{$colorLetraCubo}
    }
}

/*aca segui agregando todo lo que quieras para la media query de celu,centar con flexbox la cards, y demas*/
/*@media only screen and (max-width: 767px){
   body{
        display: flex;
        flex-direction: column;
    }
   .primerosDosArtistas{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    
     
}
.segundaTanda{
display: flex;
flex-direction: column;
margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  
}
}

